.visual-report {

  .title {
    display: inline-flex;
    float: left;
  }

  .title > label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    white-space: nowrap;
    font-weight: normal;
    user-select: none;
    margin-left: 27px;
    margin-top: 10px;
    select: none;
    width: 144px;
    float: left;
  }

  .content {
    height: 100%;
  }

  .drop {
    margin-top: 4px;

    .dropdown {
      margin-left: 1px;
      height: 32px;
      top: 4px;

      .dropdown-toggle.btn {
        background: #dedede;
        padding: 1px 12px;
        min-width: 120px;
        border-radius: 0;
      }
    }

    .open > .dropdown-menu {
      display: block;
      min-width: 120px;
    }
  }
}